.tour-slide {
  border-radius: $border-radius;
  padding: 2.5rem;
  overflow-y: hidden;
  @media (min-width: $md) {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  &__left {
    &__title {
      color: $dark-font-color;
      margin-bottom: 1rem;
    }
  }
  &__right {
    &__avatar {
      height: 5rem;
      width: 5rem;
    }
  }
  transition: $transition;
}
