.tours-section {
  min-height: calc(100vh - #{$header-height});
  &__title {
    color: $dark-font-color;
    @media (min-width: $md) {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}
